body {

	font-family: sans-serif;
}

#circle {
	
	background: transparent; 
	border-radius: 50%;
	width: 500pt;
	height: 500pt;
	border: 1.7pt solid black;
	line-height: 500pt;
	text-align: center;
	position: relative;  /* Child elements with absolute positioning will be positioned relative to this div */
	font-size: 50pt;
	margin: auto;
}


#innercircle {

	border-radius: 50%;
	position: absolute;
	background: transparent;
	width: 325pt;
	height: 325pt;
    border: 1.7pt solid black;
    top: 50%;
  	left: 50%;
   	margin: -162.5pt 0pt 0pt -162.5pt;
}

#loginbutton {

	z-index: 0;
	height: 150pt;
}

#loginpic {

	width: 200pt;	
}

#space {

	z-index: 1;
	height: 175pt;
}

#tableft {

	position: relative;
	height: 525pt;
	width: 200pt;
	float: left;
}

#waiterpic {

	position: absolute;
	z-index: 2;
	width: 200pt;
	border: 1.7pt solid black;
}