body {

	height: 100%;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

button {

	display: inline-block;
	background-color: white;
    border: solid black;
    width: auto;
}

.buttontext {

    white-space: nowrap;
    overflow: hidden;
}

.imgbutton {

	border: solid black;
}

.loginbutton {

	height: 19.2%;
	width: 11%;
}

.instructions {

	font-size: 300%;
	width: 35%;
	text-align: center;
	margin-top: 4%;
	margin-left: 33%;
}

.placehere {

	position: absolute;
	width: 20%;
	height: 38%;
	left: 40%;
	top: 30%;
}

.headercontainer {

	margin-top: 3%;
}

.centerheader {

	text-align: center;
}

#profileOptions {
	margin-top: 3.5%;
}

.profileoption {

	width: 40%;
	height: 10%;
	padding: 2% 0;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	text-align: center;
	font-size: 200%;
	margin-top: 1%;
	vertical-align: middle;
	display: block;
}

.textheightfix {

	line-height: 300%;
}

#header1 {

	font-size: 300%;
}

#loginconfirm {

	display: block;
	margin: 0 auto;
}

#facebutton {

	margin-top: 3%;
	margin-left: 30%;
}

#nfcbutton {

	margin-top: 3%;
	margin-left: 3%;
}

#fingerprintbutton {

	margin-left: 3%;
	margin-top: 3%;
}

#loginbutton {

	position: absolute;
	top: 0;
	left: 0;
	height: 8.3%;
	width: 15.9%;
	z-index: -1;
}

#backbutton {

	position: absolute;
	bottom: 4%;
	left: 38%;
	font-size: 200%;
	text-align: center;
}

#userpic {

	position: absolute;
	top: 0.5%;
	left: 0;
	height: 7.8%;
	border: none;
	padding-left: 23px;
}

#comecarbutton {

	height: 80.6%;
	width: 45.2%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#waiterbutton {

	height: 31.3%;
	position: absolute;
	bottom: 0;
	left: 0;
}

#menu {
	width: 100vw;
}

#menuHeader {
	text-align: center;
	font-size: 400%;
	margin-top: 6%;
	margin-bottom: 2%;
}

.menuItem {
	font-size: 200%;
	text-align: center;
	display: block;
	width: 40vw;
	padding: 2vh 0;
	border: solid black;
	margin: 1% 0;
}
