body {

	height: 100%;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	overflow: hidden;
}

button {

	display: inline-block;
	background-color: white;
    border: solid black;
    width: auto;
}

.buttontext {

    white-space: nowrap;
    overflow: hidden;
}

.backtext {

	padding-left: 6%;
}

.imgbutton {

	cursor: pointer;
	border: solid black;
}

.loginbutton {

	height: 19.2%;
	width: 11%;
}

.instructions {

	font-size: 300%;
	width: 35%;
	text-align: center;
	margin-top: 4%;
	margin-left: 33%;
}

.placehere {

	position: absolute;
	width: 20%;
	height: 38%;
	left: 40%;
	top: 30%;
}

.headercontainer {

	margin-top: 3%;
}

.centerheader {

	text-align: center;
}

#profileOptions {
	margin-top: 3.5%;
}

.textheightfix {

	line-height: 300%;
}

#header1 {

	font-size: 300%;
}

#loginconfirm {

	display: block;
	margin: 0 auto;
}

#facebutton {

	margin-top: 3%;
	margin-left: 30%;
}

#nfcbutton {

	margin-top: 3%;
	margin-left: 3%;
}

#fingerprintbutton {

	margin-left: 3%;
	margin-top: 3%;
}

#loginbutton {

	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 210px;
	z-index: -1;
	padding-right: 1%;
}


#backbutton {

	position: absolute;
	bottom: 4%;
	left: 36%;
	width: 28%;
	font-size: 200%;
	text-align: center;
	background-image: url("../images/back_arrow_filled.png");
	background-repeat: no-repeat;
	background-position: 3%;
	background-size: 40%;
}

.menuItem {
	font-size: 200%;
	text-align: center;
	display: block;
	width: 40vw;
	padding: 2vh 0;
	border: solid black;
	margin: 1% 0;
}

.menuItem:active {
	background-color: black;
	color: white;
}

.formpessoal {

	text-align: start !important;
	border-radius: 15px;
	height: 90%;
}

#userpic {

	position: absolute;
	top: 0.5%;
	left: 0;
	height: 7.8%;
	border: none;
	padding-left: 23px;
}

#comecarbutton {

	height: 80.6%;
	width: 45.2%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#waiterbutton {

	height: 31.3%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.menu {
	width: 100vw;
}

.menuHeader {
	text-align: center;
	font-size: 400%;
	margin-top: 6%;
	margin-bottom: 2%;
}


#myProgress {
	visibility: visible;
	margin-left: 35%;
	width: 30%;
	height: 30px;
	position: absolute;
	background-color: #ddd;
}

#myBar {
	visibility: visible;
	background-color: #A8A8A8;
	width: 10px;
	height: 30px;
	position: absolute;
}

.modal-header {
	font-size: 250%;
	font-weight: bold;
}

.modal-body {
	font-size: 150%;
}
