body {

	height: 100%;
	font-family: "Myriad Pro";
	overflow: hidden;
}

button {

	display: inline-block;
	background-color: white;
    border: solid black;
    width: auto;
}

.buttontext {

    white-space: nowrap;
    overflow: hidden;
}

.imgbutton {

	border: solid black;
}

.loginbutton {

	height: 19.2%;
	width: 11%;
}

#loginconfirm {

	display: block;
	margin: 0 auto;
}

#facebutton {

	margin-top: 3%;
	margin-left: 30%;
}

#nfcbutton {

	margin-top: 3%;
	margin-left: 3%;
}

#fingerprintbutton {

	margin-left: 3%;
	margin-top: 3%;
}

#loginbutton {
	
	position: absolute;
	top: 0;
	left: 0;
	height: 8.3%;
	width: 17.9%;
	z-index: -1;
}

#backbutton {

	margin-left: 38%;
	margin-right: 38%;
	margin-top: 8%;
	font-size: 200%;
	text-align: center;
}

#userpic {

	position: absolute;
	top: 0.5%;
	left: 0;
	height: 8.3%;
	border: none;
}

#comecarbutton {

	height: 80.6%;
	width: 45.2%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#waiterbutton {

	height: 31.3%;
	position: absolute;
	bottom: 0;
	left: 0;
}