body {

	height: 100%;
	font-family: "Myriad Pro";
	overflow: hidden;
}

button {

	display: inline-block;
	background-color: white;
    border: solid black;
    width: auto;
}

.buttontext {

	float: left;
    white-space: nowrap;
    overflow: hidden;
}

.imgbutton {

	border: solid black;
}

#loginconfirm {

	margin: 0 auto;
}

#loginbutton {
	
	position: absolute;
	top: 0;
	left: 0;
	height: 8.3%;
	width: 17.9%;
	z-index: -1;
}

#userpic {

	position: absolute;
	top: 0.5%;
	left: 0;
	height: 8.3%;
}

#comecarbutton {

	height: 80.6%;
	width: 45.2%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#waiterbutton {

	height: 31.3%;
	position: absolute;
	bottom: 0;
	left: 0;
}