body {
    font-family: Arial;
}

#header1 {
    font-size: 50px;
}

#header2 {
    color: red;
    font-size: 30px;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
}

table {
    color: green;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 240px;
}
