{% extends 'base.html' %}

{% block content %}
<h1>Dhondt Method Helper</h1>

<div>
    <h2>Mandatos</h2>

<form action="" method="post">
        {% csrf_token %}
        {{ votesformset.management_form }}
        <p><label for="mandates">Mandatos a atribuir:</label>
        <input id="mandates" name="mandates" type="number"></input></p>
        {% for form, party in party_form %}
            <li>{{ party.1 }}: {{ form }}</li>
        {% endfor %}
        <p><input type="submit" value="Calcular mandatos"></p>
    </form>

    {% if mandates_result is not None %}
        {% for mandates, party in party_mandates %}
            <li>{{ party.1 }}: {{ mandates }}</li>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}