/*Style of our PHP app*/

/*Products table*/
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}

td, th{
    padding-right: 20px;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*Tabela das categorias*/

table#super_cat{
    margin-left: 380px;
    margin-top: -230px;
}
/*----------------------------------------------------------------------------------------------------------------*/

/*Main*/

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    width: 100px;
    height: 30px;
    text-decoration: none;
    color: initial;
    text-align: center;
    padding-top: 14px;
}

/*------------------------------------------------------------------------------------------------------------*/
.home{
    color: black;
    -webkit-appearance: button;
    text-decoration: none;
    text-align: center;
    width: 100px;

}
